---
import Layout from "@/layouts/Layout.astro";
import HeroContainer from "../HeroContainer.astro";
---

<Layout
  title="Info Esland"
  description="Descubre a los mejores creadores de contenido del mundo !Vota por tus favoritos! Celebra la innovacion y el talento de Twich, youtube y mas!"
>
  <HeroContainer title="LOS PREMIOS ESLAND" image="/info-background.png" />
  <section
    class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8"
  >
    <div class="md:w-1/2 space-y-4">
      <h1
        class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide"
      >
        Un reconocimiento único para creadores, creadoras y comunidades
      </h1>
      <p>
        Los Premios ESLAND son una iniciativa privada promovida por el célebre
        streamer TheGrefg y buscan apoyar y reconocer la creación de contenido
        en el ámbito hispanohablante.
      </p>
      <p>
        ESLAND es el acrónimo de ESPAÑA, LATINOAMÉRICA Y ANDORRA, tres
        localizaciones geográficas que comparten el idioma que las une más allá
        de cualquier frontera, ya sea física o virtual.
      </p>
    </div>
    <div class="mt-6 md:mt-0 md:w-1/2">
      <img
        class="object-cover w-full h-full rounded-md"
        height="500"
        src="/theater.webp"
        style="aspect-ratio:812/556;object-fit:cover"
        width="500"
      />
    </div>
  </section>
  <section
    class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8"
  >
    <div class="mt-6 md:mt-0 md:w-1/2">
      <img
        class="object-cover w-full h-full rounded-md"
        height="556"
        src="/trophies.webp"
        style="aspect-ratio:812/556;object-fit:cover"
        width="812"
      />
    </div>
    <div class="md:w-1/2 space-y-4">
      <h1
        class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide"
      >
        EL PREMIO A LA CREACIÓN
      </h1>
      <p>
        El trofeo que se entrega a los ganadores y ganadoras en la ceremonia es <strong
          >una representación de la letra “A” dividida en tres fragmentos</strong
        > y ensambladas a modo de artilugio futurista sobre el que se construye la
        narrativa del evento.
      </p>
      <p>
        Un artefacto de origen desconocido que dota de <strong
          >herramientas y habilidades para la creación.</strong
        > Una metáfora sobre la emancipación del talento gracias a la tecnología
        y la irrupción de los creadores de contenido en el mundo del entretenimiento.
      </p>
    </div>
  </section>

  <section class="flex flex-col items-center justify-center p-4">
    <h2 class="text-6xl font-bold mb-14 mt-4">KIT DE PRENSA</h2>
    <div class="flex flex-col gap-16 lg:flex-row lg:gap-8">
      <article class="flex flex-col justify-center items-center">
        <h3 class="text-2xl mb-2">LOGOTIPO Y TROFEO</h3>
        <a
          class="relative group flex flex-col gap-y-4 text-center justify-center items-center mt-2 uppercase m-auto transition-all text__glowing"
          href="https://premiosesland.com/ESLAND_MEDIA_KIT_2022.rar"
        >
          <img
            src="/info-page/logo-y-trofeo.png"
            class="aspect-video rounded-lg w-full h-auto transition group-hover:scale-105"
            loading="lazy"
          />
          <img
            src="/info-page/logo-y-trofeo.png"
            class="absolute inset-0 opacity-0 brightness-200 blur-xl group-hover:opacity-40 scale-125 aspect-video rounded w-full h-auto -z-10 transition"
            loading="lazy"
          />
          <span
            class="border-white inline-flex w-fit border-2 border-solid rounded-full py-2 px-12"
            >DESCARGAR</span
          >
        </a>
      </article>
      <article class="flex flex-col justify-center items-center">
        <h3 class="text-2xl mb-2">FONDOS DE PANTALLA</h3>
        <a
          class="relative group flex flex-col gap-y-4 text-center justify-center items-center mt-2 uppercase m-auto transition-all text__glowing"
          href="https://premiosesland.com/ESLAND_FONDOS.zip"
        >
          <img
            src="/info-page/fondos-de-pantalla.png"
            class="aspect-video rounded-lg w-full h-auto transition group-hover:scale-105"
            loading="lazy"
          />
          <img
            src="/info-page/fondos-de-pantalla.png"
            class="absolute inset-0 opacity-0 brightness-200 blur-xl group-hover:opacity-40 scale-125 aspect-video rounded w-full h-auto -z-10 transition"
            loading="lazy"
          />
          <span
            class="border-white inline-flex w-fit border-2 border-solid rounded-full py-2 px-12"
            >DESCARGAR</span
          >
        </a>
      </article>
      <article class="flex flex-col justify-center items-center">
        <h3 class="text-2xl mb-2">NOTA DE PRENSA</h3>
        <a
          class="relative group flex flex-col gap-y-4 text-center justify-center items-center mt-2 uppercase m-auto transition-all text__glowing"
          href="https://premiosesland.com/Nota%20Prensa-ESLAND.pdf"
        >
          <img
            src="/info-page/nota-de-prensa.png"
            class="aspect-video rounded-lg w-full h-auto transition group-hover:scale-105"
            loading="lazy"
          />
          <img
            src="/info-page/nota-de-prensa.png"
            class="absolute inset-0 opacity-0 brightness-200 blur-xl group-hover:opacity-40 scale-125 aspect-video rounded w-full h-auto -z-10 transition"
            loading="lazy"
          />
          <span
            class="border-white inline-flex w-fit border-2 border-solid rounded-full py-2 px-12"
            >DESCARGAR</span
          >
        </a>
      </article>
    </div>
  </section>
</Layout>
