---

---

<header id="  " class="fixed w-screen z-50 top-0 lg:px-0">
  <div
    class="grid [grid-template-columns:40px_repeat(2,1fr)] sm:grid-cols-3 max-w-7xl mx-auto p-1 items-center justify-between"
  >
    <a href="/" class="col-span-1">
      <svg
        class="w-10 h-auto"
        width="56"
        height="70"
        viewBox="0 0 56 70"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 70L26.25 56.7L11.2 58.8L26.25 0L0 70Z" fill="currentColor"
        ></path>
        <path d="M56 70L29.75 56.7L44.8 58.8L29.75 0L56 70Z" fill="currentColor"
        ></path>
        <path
          d="M24.8501 41.65L28.0001 22.4L31.5001 41.65L28.0001 48.65L24.8501 41.65Z"
          fill="currentColor"></path>
      </svg>
    </a>
    <nav class="col-span-1 w-full flex gap-2 justify-end md:justify-center">
      <a class="hover:underline" href="/info">INFO</a>
      <a class="hover:underline" href="/archivo">ARCHIVO</a>
    </nav>
    <a
      href="#"
      class="border text-xs md:text-base rounded-full inline-block border-white px-2 py-2 justify-self-end hover:bg-white hover:text-black duration-300"
    >
      ESLAND: EL DOCUMENTAL
    </a>
  </div>
</header>
