<div
  slot="image"
  class="absolute top-0 left-0
      -z-10
      bg-center bg-no-repeat bg-cover
      bg-blue-950
      ease-in-out opacity-90 bg-blend-luminosity
      bottom-0 object-cover w-full transition-scale duration-1000 h-full group-hover:scale-110"
  style="background-image:url('/pistas.png')"
>
</div>
