---
import { getI18N } from "../i18n/index.ts";

const { currentLocale } = Astro;

const i18n = getI18N({ currentLocale });
---

<section
  class="text-pretty text-left px-10 md:px-20 max-w-[70ch] mx-auto my-10 md:my-24"
>
  <img src="/logo.png" alt="logo esland" class="w-16 mb-5 mx-auto" />
  <h1
    set:html={i18n.MAIN_TITLE}
    class="text-xl md:text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
  />

  <p set:html={i18n.FIRST_TEXT_MAIN} />
  <p set:html={i18n.SECOND_TEXT_MAIN} />
  <p set:html={i18n.THIRD_TEXT_MAIN} />
</section>
