<div class="w-full">
  <img
    src="/logo-home.svg"
    class="absolute top-10 w-[800px] z-10 left-0 right-0 m-auto"
    alt="Premios a la comunidad hispanohablante de streming"
  />

  <video
    style="clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%);"
    class="w-full h-auto animate-fade animate-duration-2000 animate-ease-in"
    autoplay
    loop
    muted
    src="/sland-video.mp4"
  >
  </video>
  <video
    autoplay
    loop
    muted
    src="/sland-video.mp4"
    class="absolute -bottom-48 blur-3xl -z-40"></video>
</div>
